.bgred{
        background-color: red;
}

.bgblue{
      background-color: blue;
}

.fontfregsno{


    font-family: 'Open Sans', sans-serif;


}

p {


    font-family: 'Open Sans', sans-serif;


}

.bitter  {


      font-family: 'Bitter', serif;


}

.lacquer{


  font-family: 'Lacquer', sans-serif;


}
