.bgred{
  background-color: red;
}

.bgblue{
  background-color: blue;
}

.bggrey {
  background-color: #35434f;
}

.bgdf  {

}

.bgcyan {
  background-color: #527da4;
}


.fontfregsno{


  font-family: 'Open Sans', sans-serif;


}

p {


  font-family: 'Open Sans', sans-serif;


}

.bitter  {


  font-family: 'Bitter', serif;


}



.lacquer{


  font-family: 'Lacquer', sans-serif;


}

h1  {
  font-size: 3.5rem;
  font-family: 'Oswald', sans-serif;
}

.lic {
  font-family: Courier;
  font-weight: bold;
}


.row.row-no-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.col-no-padding {
  padding-left: 0 !important;
  padding-right: 0 !important;
}


/* Container holding the image and the text */
.containerCONimg {
  position: relative;
  text-align: center;
  color: white;
}
/* Centered text */
.testocentrato {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
